{% extends "layout.html" %}

{% block title %}
   Home
{% endblock %}

{% block content %}
<h1>Home page</h1>
<div class="home-container">
   <div class="para-content" >
   <h2>Author Blog Post</h2>
      <p class="simple" >This is the content of the first blog post. You can write about anything here!</p>
      <p  class="simple" > Share your thoughts and ideas!</p>

   </div>
</div>
<p>check out my <a href="/about">About</a> page.</p>
<footer>
   <p>&copy; 2024 My Blog. All Rights Reserved.</p>
</footer>
{% endblock %}